.drawer {
  padding: 24px;
}

.drawer img {
  display: block;
  margin: auto;
}

.drawer h2 {
  text-align: center;
  margin: 16px 0;
}

.drawer-empty {
  padding: 24px;
  text-align: center;
  color: gray;
}